<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="posts">
	<select id="postsAll" resultType="com.mybatis.model.vo.Board">
		SELECT * FROM BOARD
	</select>
	
	<resultMap type="com.mybatis.model.vo.Notice" id="noticeMap">
		<id column="notice_no" property="noticeNo"/>
		<result column="notice_title" property="noticeTitle"/>
		<result column="notice_writer" property="noticeWriter"/>
		<result column="notice_content" property="noticeContent"/>
	</resultMap>

	<select id="noticeAll" resultMap="noticeMap">
		SELECT * FROM NOTICE
	</select>

</mapper>




